@import play.mvc.Http.Request
@import java.util.Date
@(item: tables.T_User, isEmp: Boolean)
@action = @{
  if(isEmp) {
    routes.UserController.create
  } else {
    routes.UserController.update(item.id)
  }
  }
@views.html.main("登録・編集") {

@if(isEmp) {
<h1>新規登録(^^</h1>
} else {
<h1>編集(^^</h1>
}

<div class="container">
  <div class="row">
  @helper.form(action = action) {
    <div class="col-lg-12">
      <input type="hidden" name="id">
      <label for="name">名前</label>
      <input type="text" class="form-control" placeholder="名前" name="name" value="@item.name">
      <label for="schoolYear">学年</label>
      <input type="text" class="form-control" placeholder="学年" name="schoolYear" value="@item.schoolYear">
      <label for="birthDay">誕生日(yyyy/mm/dd)</label>
      <input type="text" class="form-control" placeholder="yyyy/mm/dd" name="birthDay" value="@{if(item.birthDay != null){"%tY/%<tm/%<td" format item.birthDay}}">
      <label for="height">身長</label>
      <input type="text" class="form-control" placeholder="身長" name="height" value="@item.height">
      <label for="food">好きな食べ物</label>
      <textarea type="text" class="form-control" placeholder="好きな食べ物" name="food" >@item.food</textarea>
      @if(isEmp) {
      <input type="submit" class="btn btn-primary" value="登録" />
      } else {
      <input type="submit" class="btn btn-success" value="更新" />
      }
  }
  @helper.form(action = routes.UserController.delete(item.id)) {
      @if(!isEmp) {
      <input type="submit" class="btn btn-danger" value="削除" />
      }
    </div>
  }
  </div>
</div>
}
